*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px 40px;
}

nav{

display: flex;
justify-content: space-between;
align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a
{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0,3s;

}

nav ul li a:hover {
    color: #00bcd4;
}

#hero {
  padding: 100px 40px;         /* lots of space top/bottom */
  background-color: #f0f4f8;   /* light background to make it pop */
  text-align: center;           /* center the content */
}

#hero h2 {
  font-size: 3rem;             /* big heading */
  margin-bottom: 20px;
  color: #1a1a1a;
}

#hero p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #333333;
  max-width: 600px;           /* limit line length for readability */
  margin: 0 auto;             /* center the paragraph */
}

#about 
{
padding: 80px 40px;
background-color: #ffffff;
text-align: center;
}

#about h2 {
  font-size: 2.4rem;             /* big heading */
  margin-bottom: 20px;
  color: #1a1a1a;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333333;
  max-width: 700px;           /* limit line length for readability */
  margin: 0 auto;
}

#projects 
{
padding: 80px 40px;
background-color: #ffffff;
text-align: center;
}

#projects  h2 {
  font-size: 2.4rem;             /* big heading */
  margin-bottom: 20px;
  color: #1a1a1a;
}

#projects  p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333333;
  max-width: 700px;           /* limit line length for readability */
  margin: 0 auto;
}

#contacts 
{
padding: 80px 40px;
background-color: #ffffff;
text-align: center;
}

#contacts  h2 {
  font-size: 2.4rem;             /* big heading */
  margin-bottom: 20px;
  color: #1a1a1a;
}

#contacts  p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333333;
  max-width: 700px;           /* limit line length for readability */
  margin: 0 auto;
}
