*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --bg-color: white;
  --text-color: black;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
.dark-mode{
  --bg-color: #121212;
  --text-color: #f0f0f0;
}

header {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px 40px;
}

nav{

display: flex;
justify-content: space-between;
align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a
{
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0,3s;

}

nav ul li a:hover {
    color: var(--text-color);
}

#hero {
  padding: 100px 40px;         /* lots of space top/bottom */
  background-color: var(--bg-color);   /* light background to make it pop */
  text-align: center;           /* center the content */
}

#hero h2 {
  font-size: 3rem;             /* big heading */
  margin-bottom: 20px;
 color: var(--text-color);
}

#hero p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--text-color);
  max-width: 600px;           /* limit line length for readability */
  margin: 0 auto;             /* center the paragraph */
}

#about 
{
padding: 80px 40px;
background-color: var(--bg-color);
text-align: center;
}

#about h2 {
  font-size: 2.4rem;             /* big heading */
  margin-bottom: 20px;
  color: var(--text-color);
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color);
  max-width: 700px;           /* limit line length for readability */
  margin: 0 auto;
}

#projects 
{
padding: 80px 40px;
background-color: var(--bg-color);
text-align: center;
}

#projects  h2 {
  font-size: 2.4rem;             /* big heading */
  margin-bottom: 20px;
  color: var(--text-color);
}

#projects  p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color);
  max-width: 700px;           /* limit line length for readability */
  margin: 0 auto;
}

#contacts 
{
padding: 80px 40px;
background-color: var(--bg-color);
text-align: center;
}

#contacts  h2 {
  font-size: 2.4rem;             /* big heading */
  margin-bottom: 20px;
  color: var(--text-color);
}

#contacts  p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color);
  max-width: 700px;           /* limit line length for readability */
  margin: 0 auto;
}


